.visible {
  display: flex;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow-y: hidden;
}

.list-show {
  transform: translateY(-100%);
}

.button-scale {
  transform: translateX(-50%) scale(1, 1);
}
