// font
$opensans: "Open Sans", "Arial", sans-serif;
$playfair: "Playfair Display", "Times New Roman", serif;

// color
$w: #ffffff;
$b: #000000;

// bg

// @media
$media-dt: 992px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
