.main-footer {
  padding: 40px 20px 10px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $w;
  background-color: $grey1;

  @media (min-width: $media-dt) {
    font-size: 12px;
    line-height: 18px;
  }

  &__form-wrapper {
    margin-bottom: 30px;
  }

  &__features-list,
  &__service-list,
  &__social-list,
  &__language-list {
    @include reset-list;
  }

  &__features-item {
    margin-bottom: 30px;
  }

  &__item-description,
  &__item-title,
  &__form-title {
    @include reset-margin;
  }

  &__item-title,
  &__form-title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: $playfair;
    text-transform: uppercase;

    @media (min-width: $media-dt) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__item-description {
    max-width: 450px;
    font-weight: 300;
  }

  input:not([type="checkbox"]) {
    display: block;
    width: 80%;
    max-width: 400px;
    height: 40px;
    margin: 0 auto 18px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $b;
    border: none;

    &::placeholder {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: $grey2;
    }
  }

  input[type="checkbox"],
  label[for="footer-agreement"],
  &__form-button {
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 8px;
    border: none;
  }

  label[for="footer-agreement"] {
    color: $grey3;

    @media (min-width: $media-dt) {
      font-size: 10px;
      line-height: 24px;
    }
  }

  &__checkbox-wrapper {
    margin-bottom: 18px;
  }

  &__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    min-height: 40px;
    margin: 0 auto;
    padding: 6px 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $w;
    background-color: $b;
    border: none;
    transition: opacity 0.3s;
  }

  &__service-list,
  &__social-list,
  &__language-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
  }

  &__service-list {
    margin-bottom: 20px;
  }

  &__service-item {
    margin-right: 14px;
    margin-bottom: 20px;
    line-height: 24px;
  }

  &__social-item {
    margin-right: 26px;
    margin-bottom: 20px;

    @media (min-width: $media-dt) {
      margin-right: 10px;
    }
  }

  &__social-icon {
    width: 30px;
    height: 30px;

    @media (min-width: $media-dt) {
      width: 18px;
      height: 18px;
    }
  }

  &__language-item {
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -16px;
      width: 1px;
      height: 12px;
      background-color: $w;
      transform: translate(-50%, -50%);
    }

    &:last-child {
      &::before {
        content: none;
      }
    }

    @media (min-width: $media-dt) {
      margin-right: 22px;
    }
  }

  // hover
  &__service-item:hover a,
  &__social-item:hover a,
  &__language-item:hover a,
  &__form-button:hover {
    opacity: 0.7;
  }

  // active
  &__service-item:active a,
  &__social-item:active a,
  &__language-item:active a,
  &__form-button:active {
    opacity: 0.5;
  }
}
