.main-footer {
  min-height: 400px;
  padding: 40px 20px 10px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: $w;
  background-color: $grey1;

  @media (min-width: $media-tb) {
    position: relative;
    z-index: 1;
  }

  @media (min-width: $media-dt) {
    min-height: 274px;
    padding: 32px 0 0;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
  }

  &__wrapper {
    @media (min-width: $media-dt) {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0 127px 0 137px;

      &:nth-child(2) {
        flex-wrap: nowrap;
        padding: 0;
      }
    }
  }

  &__form-wrapper {
    margin-bottom: 30px;

    @media (min-width: $media-dt) {
      width: 20%;
      margin-bottom: 24px;
    }
  }

  &__features-list,
  &__service-list,
  &__social-list,
  &__language-list {
    @include reset-list;
  }

  &__features-list {
    @media (min-width: $media-tb) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $media-dt) {
      width: 75%;
      margin-right: 4.5%;
    }
  }

  &__features-item {
    margin-bottom: 30px;

    @media (min-width: $media-tb) {
      width: 33.3%;
      padding: 10px;
    }

    @media (min-width: $media-dt) {
      width: 27.5%;
      margin-right: 8%;
      margin-bottom: 24px;
      padding: 0;

      &:nth-of-type(3n),
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__item-description,
  &__item-title,
  &__form-title {
    @include reset-margin;
  }

  &__item-title,
  &__form-title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: $playfair;
    text-transform: uppercase;

    @media (min-width: $media-dt) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__item-description {
    max-width: 450px;
    font-weight: 300;
  }

  input:not([type="checkbox"]) {
    display: block;
    width: 80%;
    max-width: 400px;
    height: 40px;
    margin: 0 auto 18px;
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: $b;
    border: none;

    &::placeholder {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: $grey2;
    }

    @media (min-width: $media-dt) {
      width: 100%;
      min-width: 184px;
      max-width: unset;
      height: 32px;
      margin-bottom: 13px;

      &:last-of-type {
        margin-bottom: 2px;
      }
    }
  }

  input[type="checkbox"],
  label[for="footer-agreement"],
  &__form-button {
    cursor: pointer;
  }

  input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 8px;
    border: none;

    @media (min-width: $media-dt) {
      top: 1px;
      width: 9px;
      height: 9px;
      margin-right: 4px;
    }
  }

  label[for="footer-agreement"] {
    color: $grey3;

    @media (min-width: $media-dt) {
      font-size: 10px;
      line-height: 24px;
    }
  }

  &__checkbox-wrapper {
    margin-bottom: 18px;

    @media (min-width: $media-dt) {
      margin-bottom: 2px;
      padding-left: 2px;
    }
  }

  &__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    min-height: 40px;
    margin: 0 auto;
    padding: 6px 20px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: $w;
    background-color: $b;
    border: none;
    transition: opacity 0.3s;

    @media (min-width: $media-dt) {
      width: 100%;
      min-width: 184px;
      max-width: unset;
      min-height: 32px;
      padding: 4px 20px;
    }
  }

  &__additional-wrapper {
    @media (min-width: $media-dt) {
      display: flex;
      width: 320px;
      margin-left: auto;
    }
  }

  &__service-list,
  &__social-list,
  &__language-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 450px;
    margin: 0 auto;

    @media (min-width: $media-dt) {
      justify-content: flex-start;
      max-width: none;
      width: auto;
      margin: 0;
    }
  }

  &__service-list {
    margin-bottom: 20px;

    @media (min-width: $media-dt) {
      margin-bottom: 0;
    }
  }

  &__service-item {
    margin-right: 14px;
    margin-bottom: 20px;
    line-height: 24px;

    @media (min-width: $media-dt) {
      margin-right: 16px;
      margin-bottom: 11px;
    }
  }

  &__social-list {
    @media (min-width: $media-dt) {
      margin-right: 73px;
    }
  }

  &__social-item {
    margin-right: 26px;
    margin-bottom: 20px;

    @media (min-width: $media-dt) {
      margin-right: 10px;
      margin-bottom: 11px;
    }
  }

  &__social-icon {
    width: 30px;
    height: 30px;

    @media (min-width: $media-tb) {
      width: 24px;
      height: 24px;
    }

    @media (min-width: $media-dt) {
      width: 18px;
      height: 18px;
    }
  }

  &__language-item {
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -16px;
      width: 1px;
      height: 12px;
      background-color: $w;
      transform: translateY(50%);
    }

    &:last-child {
      &::before {
        content: none;
      }
    }

    @media (min-width: $media-dt) {
      margin-right: 20px;
      margin-bottom: 11px;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        right: -12px;
      }
    }
  }

  // hover
  &__service-item:hover a,
  &__social-item:hover a,
  &__language-item:hover a,
  &__form-button:hover {
    opacity: 0.7;
  }

  // active
  &__service-item:active a,
  &__social-item:active a,
  &__language-item:active a,
  &__form-button:active {
    opacity: 0.5;
  }
}

// styles for FF
_::-moz-range-track, body:last-child .main-footer__language-item::before {
  width: 2px;
}
