.main-header {
  min-height: 130px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $w;
  background-color: $grey1;

  @media (min-width: $media-dt) {
    font-size: 18px;
    line-height: 24px;
  }
}

// meny styles
.menu-open .nav__list,
.no-js .nav__list {
  display: block;
}

.menu-open .nav__button {
  background-image: url("../img/svg/close-icon.svg");
}

.no-js .nav__button-wrapper {
  display: none;
}
