.news {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $media-dt) {
    font-size: 16px;
    line-height: 24px;
  }

  h2 {
    @include visually-hidden;
  }

  &__list {
    @include reset-list;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 180px;
    padding: 22px 18px;
    text-align: center;
    background-color: $w;

    &--white {
      color: $w;
    }

    &:nth-child(odd) {
      background-color: $yellow1;
    }

    &:nth-child(3n) {
      background-color: $b;
    }

    @media (min-width: $media-dt) {
      padding: 15px 18px;
      text-align: left;
    }
  }

  &__item-title,
  &__item-description {
    @include reset-margin;
  }

  &__item-title {
    width: 100%;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-family: $playfair;

    @media (min-width: $media-dt) {
      padding-bottom: 16px;
      font-size: 28px;
      line-height: 30px;
    }
  }

  &__item-description {
    width: 100%;
    padding-bottom: 30px;

    @media (min-width: $media-dt) {
      padding-bottom: 20px;
    }
  }

  &__item-link {
    margin-top: auto;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;

    &--white {
      color: $w;
    }

    @media (min-width: $media-dt) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  // hover
  &__item-link:hover {
    opacity: 0.7;
  }

  // active
  &__item-link:active {
    opacity: 0.5;
  }
}
